*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
}

.navBar{
    font-family: 'Ubuntu', sans-serif;
}
.navBar{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

.navBar ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.navIcon{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50px;

}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.main {
    background-color: #512162;
    color: rgb(49, 8, 8);
    width: 70%;
    min-height: 390px;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
}

.bottom {
    color:rgb(146, 202, 63);
    position: sticky;
    height: 130px;
    background:rgb(146, 202, 63);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.icons {
display: flex;
}

.icons li {
    width: 50px;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;

}
